{% extends 'base.html' %}
{% load static %}

{% block title %}Who We Are | AI Venture Catalyst{% endblock %}

    {% block content %}


    <section class="other-header">

        <div class="">
            <div class="card header-other-card mx-auto">
              <video class="card-video-bg" autoplay muted loop playsinline preload="none" poster="{% static 'images/video-poster.jpg' %}">
                <source src="{% static 'videos/about_us.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
              </video>

              <div class="gradient-overlay"></div>

              <div class="card-img-overlay">
                  <div class="container">
                    <h1 class="hero-title-1 mx-auto" style="max-width: 89rem;">Hands-On AI Business Transformation Led by Veteran Private Equity Operating Partners</h1>
                    <p class="hero-subtitle-1 mx-auto">
                        We transform services companies into AI market leaders through proven PE methodologies and hands-on execution. With an average of 25 years’ PE/VC experience,
                        we don't just advise transformation - we lead it.
                    </p>
                  </div>
              </div>
            </div>
        </div>

    </section>

    <div class="component-section">
        <div class="container">
            <h1 class="component-title-2 mx-auto">Our Mission</h1>
            <h1 class="component-title-1 mx-auto">
                <span>We transform AI innovations into scalable ventures for professional services firms.</span>
                <span>With deep PE operating experience, we embed within leadership to drive execution and impact.</span>
            </h1>
        </div>
    </div>

    <div class="our-vision-section">
        <div class="container">
            <div class="">
                <h1 class="our-vision-title-1">Our Vision</h1>
                <h3 class="our-vision-title-2">The Leading Platform for Creating AI-Driven Businesses and Purpose-Driven Leaders</h3>
                <p class="our-vision-title-3">We aspire to a future where every venture we support demonstrates that business can be a catalyst for good - driving meaningful transformation for teams, clients, and communities through AI-powered enterprises that operate with purpose, integrity, and exponential impact.</p>
            </div>
            <div class="three-vision-section">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card vision-card h-100">
                          <img src="{% static 'icons/circle-dollar-sign.svg' %}" class="our-vision-icon" alt="...">
                          <div class="card-body p-0">
                              <h4 class="our-vision-title-4">We Intercept the Traditional Capital-Raising Process</h4>
                            <p class="our-vision-text-5">Only one-third of companies that hire investment bankers actually secure growth capital. Most engage help too late, when fundamental gaps can't be fixed and valuation upside is capped.</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card vision-card h-100">
                          <img src="{% static 'icons/chart-candlestick.svg' %}" class="our-vision-icon" alt="...">
                          <div class="card-body p-0">
                              <h4 class="our-vision-title-4">We Work Earlier in the Value Chain</h4>
                            <p class="our-vision-text-5">Our focus is on creating investor-ready companies from day one, not patching businesses after the fact. With experience on both sides of the table, we know precisely what it takes to win over institutional investors.</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card vision-card h-100">
                          <img src="{% static 'icons/handshake.svg' %}" class="our-vision-icon" alt="...">
                          <div class="card-body p-0">
                              <h4 class="our-vision-title-4">Operator-in-Residence Approach</h4>
                            <p class="our-vision-text-5">We embed seasoned PE operators directly into your leadership team, serving as interim C-level executives to drive transformation from within. We don't consult from the sidelines - we execute alongside you.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="our-values-section">
        <div class="container">
            <div class="row row-cols-1 row-col-md-2 g-5">
                <div class="col-md-4">
                    <h1 class="our-vision-title-1">Our Values</h1>
                    <p class="our-vision-title-3">The Leading Platform for Creating AI-Driven Businesses and Purpose-Driven Leaders</p>
                </div>
                <div class="col-md-8">

                    <div class="accordion accordion-flush" id="accordionFlushExample">
                      <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              <span class="me-3">01</span> Operator-Led Transformation
                          </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            We lead by doing - embedding directly into leadership to drive execution from within, not distant advisory.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <span class="me-3">02</span> 10X Thinking
                          </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">Embracing a 10X mindset transforms a business from a competitor to a category creator, turning ambitious dreams into reality through bold, imaginative action.</div>
                        </div>
                      </div>
                      <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            <span class="me-3">03</span>Integrity & Authenticity
                          </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">We don't follow trends; we set them, guided by a belief that genuine value is what ultimately drives lasting success. This authenticity is reflected in our work, our relationships, and our identity as a leader in the AI-driven world.</div>
                        </div>
                      </div>
                      <div class="accordion-item bg-transparent">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                              <span class="me-3">04</span> Purpose-Driven Impact
                            </button>
                          </h2>
                          <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              We believe in the power of accountability. Our operators don't just advise; they embed themselves in your team to drive results, sharing in the successes and challenges.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item bg-transparent">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                              <span class="me-3">05</span> People-First Leadership
                            </button>
                          </h2>
                          <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              We focus on high-leverage activities that create maximum value in the shortest amount of time, ensuring your investment in us translates to tangible growth.
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item bg-transparent">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                              <span class="me-3">06</span> Co-Creation
                            </button>
                          </h2>
                          <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                              We are passionate about disrupting the status quo. We work with companies ready to embrace change and lead their industries through AI-driven innovation.
                            </div>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="why-our-values-section">
        <div class="container">
            <h1 class="our-vision-title-1">Why Our Values Matter</h1>
            <div class="why-our-values-container">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card our-values-card-1 h-100">
                            <img src="{% static 'icons/circle-dollar-sign.svg' %}" class="our-vision-icon" alt="...">
                          <div class="card-body p-0">
                            <h5 class="our-values-text-1">Values Drive Results</h5>
                            <p class="our-values-text-2">Our principles directly shape how we deliver value - from carving out AI businesses to scaling through fractional leadership to attracting growth capital.</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card our-values-card-2 h-100">
                            <img src="{% static 'icons/chart-candlestick.svg' %}" class="our-vision-icon" alt="...">
                          <div class="card-body p-0">
                            <h5 class="our-values-text-1">Compass for Excellence</h5>
                            <p class="our-values-text-2">Our values ensure every venture we touch is built to excel and built to last.
                                    They're not words on a page - they're our execution framework.</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card our-values-card-1 h-100">
                            <img src="{% static 'icons/handshake.svg' %}" class="our-vision-icon" alt="...">
                          <div class="card-body p-0">
                            <h5 class="our-values-text-1">Trust Through Action</h5>
                            <p class="our-values-text-2"> By staying true to our principles,
                                we consistently transform B2B service ideas into scalable AI businesses that command premium valuations.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="meet-an-operator-section">
        <div class="container">
            <h3 class="meet-text-1" style="max-width: 47rem;">We're Catalysts - Meet our Managing Partner</h3>
            <p class="meet-text-2">Experienced executives who embed with your team to drive results, not external consultants who provide recommendations.</p>

            <div class="team-section">
                <div class="row row-cols-1 row-cols-md-2 g-5">
                    <div class="col">
                        <div class="team-bg-image" style="background-image: url('{% static 'images/valuation4.webp' %}');"></div>
                    </div>
                    <div class="col">
                        <p class="meet-text-3">
                            “The greatest AI companies of tomorrow are hiding inside the services companies of today. We are building
                            the next generation of transformational AI companies - enterprises with the power to reshape entire industries.
                            These companies exist today as hidden gems within traditional services firms, waiting for the right leadership
                            to unlock their exponential potential. We are that catalyst.”
                        </p>
                        <div class="team-detail-div">
                            <h4 class="meet-text-4">Sherri Sklar</h4>
                            <a href="#" target="_blank"><img src="{% static 'icons/twitterGrey.svg' %}"></a>
                            <a href="#" target="_blank"><img src="{% static 'icons/linekdinGrey.svg' %}"></a>
                        </div>
                        <p class="meet-text-5">Managing Partner</p>
                    </div>
                </div>
            </div>

            <div class="team-section-1">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="card team-card-1 h-100">
                            <div class="team-card-1-icon-bg">
                                <img src="{% static 'icons/user-check.svg' %}" class="team-card-1-icon" alt="...">
                            </div>
                          <div class="card-body p-0">
                            <h5 class="meet-text-6">Veteran PEO Partners</h5>
                            <p class="meet-text-7">
                                Our team combines decades of experience transforming technology and SaaS businesses within private equity portfolios.
                            </p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card team-card-1 h-100">
                            <div class="team-card-1-icon-bg">
                                <img src="{% static 'icons/circle-slash-2.svg' %}" class="team-card-1-icon" alt="...">
                            </div>
                          <div class="card-body p-0">
                            <h5 class="meet-text-6">Both Sides of the Table</h5>
                            <p class="meet-text-7">
                                We've operated companies and worked within private equity - we know what institutional investors look for and what they don’t!
                            </p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card team-card-1 h-100">
                            <div class="team-card-1-icon-bg">
                                <img src="{% static 'icons/message-circle-heart.svg' %}" class="team-card-1-icon" alt="...">
                            </div>
                          <div class="card-body p-0">
                            <h5 class="meet-text-6">VHands-On Execution</h5>
                            <p class="meet-text-7">
                                We don't just advise - we embed as your C-suite leadership team and take accountability for results. We are always there for you!
                            </p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="our-philosophy-section">
        <div class="container">
            <h3 class="philosophy-text-1">Our Operating Philosophy</h3>
            <p class="philosophy-text-2">We believe in hands-on execution and deep partnership to drive transformative outcomes.</p>
            <div class="our-philosophy-section-2">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-4 g-2">
                    <div class="col">
                        <div class="card operating-card-1 h-100">
                            <h3 class="philosophy-text-3">Build Value First, Raise Capital Second</h3>
                            <hr>
                            <p class="philosophy-text-4">
                                We engage before you initiate capital raises, ensuring your business is truly investor-ready when the time comes.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card operating-card-2 h-100">
                            <h3 class="philosophy-text-3">Carve-Out Over Bolt-On</h3>
                            <hr>
                            <p class="philosophy-text-4">
                                AI ventures as standalone companies achieve far higher multiples than when kept within services firms.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card operating-card-1 h-100">
                            <h3 class="philosophy-text-3">Embedded Leadership Over Consulting</h3>
                            <hr>
                            <p class="philosophy-text-4">
                                We provide fractional C-suite leadership, working alongside your team—not as external advisors.
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card operating-card-2 h-100">
                            <h3 class="philosophy-text-3">Investor-Ready from Day One</h3>
                            <hr>
                            <p class="philosophy-text-4">
                                Everything we build meets institutional investor criteria - no last-minute scrambles or fundamental gaps.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="our-philosophy-owl-section">-->
<!--         <div class="owl-carousel owl-theme">-->
<!--            <div class="item">-->
<!--                <div class="card why-service-card-1">-->
<!--                    <h3 class="philosophy-text-3">Build Value First, Raise Capital Second</h3>-->
<!--                    <hr>-->
<!--                    <p class="philosophy-text-4">-->
<!--                        We engage before you initiate capital raises, ensuring your business is truly investor-ready when the time comes.-->
<!--                    </p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="card why-service-card-2">-->
<!--                    <h3 class="philosophy-text-3">Carve-Out Over Bolt-On</h3>-->
<!--                    <hr>-->
<!--                    <p class="philosophy-text-4">While 95% of AI startups fail and 95-99% can't raise capital, we solve both problems. Our PE frameworks create AI companies that investors fight over and scale successfully.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="card why-service-card-1">-->
<!--                    <h3 class="philosophy-text-3">Embedded Leadership Over Consulting</h3>-->
<!--                    <hr>-->
<!--                    <p class="philosophy-text-4">We identify your hidden AI assets and carve them into independent companies with recurring revenue models, premium valuations, and clear paths to strategic exits.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="item">-->
<!--                <div class="card why-service-card-2">-->
<!--                    <h3 class="philosophy-text-3">Investor-Ready from Day One</h3>-->
<!--                    <hr>-->
<!--                    <p class="philosophy-text-4">Former Private Equity Insiders Who Know What Gets Funded 60+ years combined PE experience. We've reviewed thousands of deals and funded the winners. We know exactly why 95-99% fail to raise capital and how to join the 1-5% who succeed.</p>-->
<!--                </div>-->
<!--            </div>-->
<!--         </div>-->
<!--    </div>-->


        <div class="our-impact-section">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 g-5">
                    <div class="col-md-5">
                        <h3 class="our-impact-text-1">Our Impact</h3>
                        <p class="our-impact-text-2">We believe in hands-on execution and deep partnership to drive transformative outcomes.</p>
                    </div>
                    <div class="col-md-7">

                        <div class="card our-impact-card-1 mb-3">
                          <div class="row g-3">
                            <div class="col-md-5">
                              <div class="our-impact-bg" style="background-image: url('{% static 'images/image77.webp' %}');"></div>
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                              <div class="card-body">
                                <h5 class="our-impact-text-4">Valuation Transformation</h5>
                                <p class="our-impact-text-5">We help companies achieve the 20-30X EBITDA multiples that independent AI companies command vs. traditional 4-6X service multiples.</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card our-impact-card-2 mb-3">
                          <div class="row g-3">
                            <div class="col-md-5">
                              <div class="our-impact-bg" style="background-image: url('{% static 'images/image78.webp' %}');"></div>
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                              <div class="card-body">
                                <h5 class="our-impact-text-4">Capital Success</h5>
                                <p class="our-impact-text-5">Our companies enter fundraising with compelling stories and solid fundamentals - built for scale with institutional-grade strength.</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card our-impact-card-1 mb-3">
                          <div class="row g-3">
                            <div class="col-md-5">
                              <div class="our-impact-bg" style="background-image: url('{% static 'images/image79.webp' %}');"></div>
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                              <div class="card-body">
                                <h5 class="our-impact-text-4">Operational Excellence</h5>
                                <p class="our-impact-text-5"> From product-market fit to early sales execution, we ensure ventures have the operational rigor needed to scale.</p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="card our-impact-card-2 mb-3">
                          <div class="row g-3">
                            <div class="col-md-5">
                              <div class="our-impact-bg" style="background-image: url('{% static 'images/image80.webp' %}');"></div>
                            </div>
                            <div class="col-md-7 d-flex align-items-center">
                              <div class="card-body">
                                <h5 class="our-impact-text-4">Market Leadership</h5>
                                <p class="our-impact-text-5">We don't just create AI companies - we build market leaders with sustainable competitive advantages.</p>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="connect-with-us-section" style="background-image: url('{% static 'images/Template9.png' %}'); display: none;">
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col-md-8">
                        <div class="card-body">
                            <button class="connect-with-us-btn">❤️ Connect With Us</button>
                            <h1 class="connect-with-us-title-3">Ready to transform your AI innovations into market-leading enterprises?</h1>
                            <p class="connect-with-us-subtitle-3">Connect with the operators who build investor-ready companies, not just business plans.</p>
                            <div class="connect-section-container">
                                <button class="connect-with-our-btn">Connect With Our Team</button>
                                <p class="trusted-by-silicon-text">Trusted by Silicon Valley Veterans!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                        <img src="{% static 'images/image_9.png' %}" class="card-img-top ai-logo" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <div class="what-vs-what-section" style="display: none;">
            <div class="container">
                <h1 class="why-services-title mx-auto">Why you need us?</h1>
                <p class="why-services-subtitle mx-auto">The AI landscape isn’t as  easy of a road to pave through without experts!</p>

                <div class="numbers-section">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <h1 class="number-percentage">95%</h1>
                            <p class="number-percentage-sub">AI Startups Fail due to lack of guidance and a clear plan</p>
                        </div>
                        <div class="col">
                            <h1 class="number-percentage">95% - 99%</h1>
                            <p class="number-percentage-sub">Of all startups fail to raise capital needed to fund their ventures.</p>
                        </div>
                        <div class="col">
                            <h1 class="number-percentage">60+ years</h1>
                            <p class="number-percentage-sub">Of our combined PE Operating Partner and CXO experience.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}